<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h3>Создание партнерской сети</h3>
      <form method="post" action="/aff_network">
         <p>Название: <input type = "text" name = "name" /></p>
         <p>Postback_url: <input type = "text" name = "postback_url" /></p>
         <p>Параметры оффера: <input type = "text" name = "offer_param" /></p>
         <p><input type = "submit" value = "Создать сеть" /></p>
      </form>
   </body>
</html>