<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
         <p>ID Оффера: {{ offer_id }}</p>

            <h3>Поиск оффера</h3>
         <form method="post" action="/get_offer_keitaro">
         <p>ID оффера: <input type = "text" name = "offer_id" /></p>
         <p><input type = "submit" value = "Поиск" /></p>
         </form>

            <h3>Поиск партнерской сети</h3>
         <form method="post" action="/get_aff_network_keitaro">
         <p>ID парнерской сети: <input type = "text" name = "network_id" /></p>
         <p><input type = "submit" value = "Поиск" /></p>
        </form>
   </body>
</html>